.project-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
}

@media screen and (max-width: 600px) {
    .project-container {
        flex-direction: column;
        margin: 1.5rem;
    }
    
}