.resume {
    margin: 5rem;
}

.page {
    width: 100rem;
}

.react-pdf__Page__canvas:hover {
    width: 80% !important;
    height: 90% !important;
}

.mountain {
    width: 40rem;
    z-index: -1;
    position: absolute;
    right: 5rem;
    top: 30rem;
}

.summary {
    width: 40rem;
    z-index: -1;
    position: absolute;
    right: 5rem;
    top: 3rem;
    text-align: center;
}

.summary > p {
    font-size: 2.25rem;
    margin-bottom: 6rem;
    padding: 0 2rem;
}

.show-on-small {
    display: none;
}

@media screen and (max-width: 1875px) {
    .resume-section {
        display: flex; 
        flex-direction: column;   
    }

    .react-pdf__Page__canvas:hover {
        width: 40% !important;
    }

    .summary {
        position: relative;
        top: unset;
        right: unset;
        margin-left: 2rem;
    }

    .mountain {
        position: relative;
        top: unset;
        right: unset;
        margin-left: 2rem;
    }
    
}

@media screen and (max-width: 1100px) {
    .hide-on-small {
        display: none;
    }

    .mountain {
        width: 30rem;
        margin: auto;
    }

    .show-on-small {
        display: unset;
        margin: auto;
        margin-top: 5rem;
    }
    
}
