.resume {
    margin: 5rem;
}

.page {
    width: 100rem;
}

.react-pdf__Page__canvas {
    box-shadow: 5px 5px 10px 5px rgba(65, 63, 61, 0.246);
    width: 50%;
}

.page {
    width: unset;
}

.mountain {
    height: 30rem;
    z-index: -1;
    margin: 2rem;
}

.summary {
    width: 40rem;
    z-index: -1;
    text-align: center;
    margin-top: 2rem;
}

.summary > p {
    font-size: 2.25rem;
    margin-bottom: 6rem;
    padding: 0 2rem;
}

.show-on-small {
    display: none;
}
.resume-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {

    .hide-on-small {
        display: none;
    }

    .summary {
        width: 22rem !important;
        text-align: left;
    }

    .summary > p {
        font-size: 2rem;
        margin: 1rem;
        padding: 0;
    }
    
    .mountain {
        width: 22rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .show-on-small {
        margin: 2rem 3rem;
    }
    
    .resume-link {
        margin: 0;
    }
}