.resume {
    margin: 5rem;
}

.page {
    width: 100rem;
}

.react-pdf__Page__canvas:hover {
    width: 85% !important;
    height: 100% !important;
}

.mountain {
    width: 40rem;
    z-index: -1;
    position: absolute;
    right: 5rem;
    top: 30rem;
}

.summary {
    width: 40rem;
    z-index: -1;
    position: absolute;
    right: 5rem;
    top: 3rem;
    text-align: center;
}

.summary > p {
    font-size: 2.25rem;
    margin-bottom: 6rem;
    padding: 0 2rem;
}