.climbing {
    width: 35rem;
    margin: 1rem 2rem 2rem 2rem;
    align-self: flex-start;
}

.about {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
}

.about-text {
    align-self: center;
}

.cake { 
    width: 20rem;
    margin: 4rem 14rem;
}

.tech-skills {
    position: absolute;
    width: 40rem;
    height: 20rem;
    right: 10rem;
    top: 37rem;
}

.tech-skills > ul {
    font-size: 1.75rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 40rem;
    height: 21rem;
    margin: 0;
    padding: 0;
}

.tech-skills > ul > li {
    width: 10rem;
}

.deets > p {
    margin: 0rem 0rem 1rem 0rem;
    font-size: 1.75rem;
}