.climbing {
    width: 35rem;
    margin: 1rem 2rem 2rem 2rem;
    align-self: flex-start;
}

.about {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-text {
    align-self: center;
}

.cake { 
    width: 20rem;
    margin: 4rem 14rem;
}

.tech-skills {
    position: absolute;
    width: 40rem;
    height: 20rem;
    right: 10rem;
    top: 37rem;
}

.tech-skills > ul {
    font-size: 1.75rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 40rem;
    height: 21rem;
    margin: 0;
    padding: 0;
}

.tech-skills > ul > li {
    width: 10rem;
}

.deets > p {
    margin: 0rem 0rem 1rem 0rem;
    font-size: 1.75rem;
}

@media screen and (min-width: 2000px) {
    .tech-skills {
        position: relative;
        margin-top: -35rem;
        margin-left: 10rem;
    }

    .climbing {
        width: 50rem;
        margin-top: 25rem;
    }
    
    .about {
        margin-left: 20rem;
    }

    .about-text {
        margin-top: -20rem;
    }

    .deets > p {
        font-size: 2rem;
    }

    .tech-skills > ul {
        font-size: 2rem;
    }

    .tech-skills > ul > li {
        width: 20rem;
    }
}