.contact-container {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hang-out {
    width: 75rem;
    align-self: flex-end;
    margin: 2rem;
}

.icon-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-icon {
    height: 11rem;
    box-shadow: none;
    margin: 4rem 0rem 1rem 0rem;
}

.github {
    height: 15rem;
    margin-top: 2rem;
}

.linkedIn {
    height: 9rem;
    margin-top: 5rem;
}

.medium {
    margin-left: 2rem;
}


@media screen and (max-width: 600px) {
    .icon-div {
        margin-left: 2rem;
    }

    .contact-icon {
        height: 3.5rem;
        margin: 0;
    }

    .github {
        height: 5.5rem;
        margin-top: -1rem;
    }

    .linkedIn {
        height: 3.25rem;
        margin-top: 0rem;
    }

    .medium {
        height: 4rem;
        margin-top: -.4rem;
        margin-left: 0.5rem;
    }

    .contact-container > h2 {
        font-size: 2rem;
    }

    .contact-container {
        flex: unset;
        display: unset;
        flex-direction: unset;
        flex-wrap: unset;
        justify-content: unset;
    }
}