.contact-container {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hang-out {
    width: 75rem;
    align-self: flex-end;
    margin: 2rem;
}

.icon-div {
    display: flex;
    flex-direction: row;
}

.contact-icon {
    height: 11rem;
    box-shadow: none;
    margin: 4rem 0rem 1rem 0rem;
}

.github {
    height: 15rem;
    margin-top: 2rem;
}

.linkedIn {
    height: 9rem;
    margin-top: 5rem;
}

.medium {
    margin-left: 2rem;
}

@media screen and (max-width: 1200px) {
    .contact-container {
        flex-direction: column;
    }

    .icon-div {
        justify-content: center;
    }

    .contact-icon {
        height: 6rem !important;
    }

    .linkedIn {
        height: 5rem !important;
        margin-top: 5.5rem;
    }

    .github {
        height: 8rem !important;
        margin-top: 4rem !important;
    }

    .medium {
        margin-top: 5rem;
    }

    .hang-out {
        width: 30rem !important;
    }

}

@media screen and (max-width: 1700px) {
    .contact-container {
        justify-content: flex-start;
    }

    .hang-out {
        width: 40rem;
    }

    .contact-icon {
        height: 8rem;
    }

    .gmail {
        margin-top: 5rem;
    }

    .github {
        height: 12rem;
        margin-top: 2.5rem;
    }
    
    .linkedIn {
        height: 7rem;
    }
    
    .medium {
        height: 9rem;
    }
}

@media screen and (min-width: 2200px) {

    .contact-container {
        justify-content: flex-start;
    }

    .hang-out {
        width: 100rem;
        margin: 5rem 10rem;
    }

    .contact-icon {
        margin-right: 1rem;
    }
}