.contact-container {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hang-out {
    width: 75rem;
    align-self: flex-end;
    margin: 2rem;
}

.contact-icon {
    height: 11rem;
    box-shadow: none;
    margin: 4rem 0rem 1rem 0rem;
}

.github {
    height: 15rem;
    margin-top: 2rem;
}

.linkedIn {
    height: 9rem;
    margin-top: 5rem;
}
@media screen and (max-width: 1700px) {
    .contact-container {
        justify-content: flex-start;
    }

    .hang-out {
        width: 40rem;
    }
    
}
@media screen and (min-width: 2200px) {

    .contact-container {
        justify-content: flex-start;
    }

    .hang-out {
        width: 100rem;
        margin: 5rem 10rem;
    }
}