header {
    border-bottom: 0.5px solid black;
}

h1 {
    font-size: 5rem;
    margin: 2rem;
}

.cap {
    font-size: 8rem;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
        margin: 1rem;
    }

    .cap {
        font-size: 3.5rem;
    }

}