.cover-photo {
    width: 43rem;
}

.home {
    display: flex;
    margin: 5rem 2rem 2rem 2rem;
    justify-content: center;
}

.greeting-text {
    padding: 2rem;
    margin: 6rem 6rem 2rem -3rem;
}

.greeting-text > p {
    font-size: 5rem;
}

@media screen and (max-width: 600px) {
    .home {
        flex-direction: column;
        flex-wrap: wrap;
        margin: 1rem 0;
    }

    .greeting-text {
        margin: 0 2rem;
        padding: 0;
    }

    .greeting-text > p {
        font-size: 5rem;
        margin: 0 0 1rem 0;
    }

    .cover-photo {
        width: 45rem;
        margin-left: 2rem;
    }
    
}