nav {
    padding: 3rem;
    margin: 5rem 2rem 2rem 2rem;
    border: 1px solid black;
    width: 16rem;
    max-height: 35rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
}

a {
    font-size: 3rem;
    color: black;
    text-decoration: none;
    margin: 2rem 0 2rem 0;
    font-weight: 600;
}

a:hover {
    color: #d93ec4;
}

@media screen and (max-width: 600px) {
    a {
        font-size: 2.25rem;
        margin: 0.2rem;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 12rem;
        height: unset;
        margin: unset;
        margin-top: 1rem;
        margin-left: 2rem;
        padding: 1rem;
        max-height: unset;
        position: unset;
    }
    
}