nav {
    padding: 3rem;
    margin: 5rem 2rem 2rem 2rem;
    border: 1px solid black;
    width: 16rem;
    height: 51rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    font-size: 4rem;
    color: black;
    text-decoration: none;
    margin: 2rem 0 2rem 0;
    font-weight: 600;
}

a:hover {
    color: #d93ec4;
}

@media screen and (min-width: 2400px) {
    nav {
        margin-right: 30rem;
    }
}
