.project-image {
    width: 40rem;
    height: 23rem;
}

.project-card {
    margin: 0.5rem;
    box-shadow: 2px 2px 5px 2px rgba(65, 63, 61, 0.246);
    border-radius: 0.5rem;
    padding: 2rem;
}

.project-card:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px 5px #d93ec434;
}

.project-card > p {
    font-size: 1.75rem;
}

.project-link {
    font-size: 1.75rem;
    margin: 1rem 2rem 0 0;
}

h3 {
    font-size: 2rem;
}

.project-image-larger {
    width: 80rem;
    margin: 1rem;
}

.project-card > div {
    width: 80rem !important;
    height: 45rem !important;
}

@media screen and (max-width: 1775px) {
    .project-image-larger {
        width: 60rem;
        margin: auto;
    }

    .project-card > div {
        width: 50rem !important;
        height: 32rem !important;
        margin: auto;
    }
}

@media screen and (max-width: 1300px) {
    .project-image-larger {
        width: 35rem;
    }

    .project-card > div {
        width: 35rem !important;
        height: 22rem !important;
    }
}

@media screen and (max-width: 1000px) {
    .project-image {
        width: 20rem;
        height: 11.5rem;
    }
    
    .project-card {
        padding: 1rem;
    }

    .project-card > p {
        font-size: 1.5rem;
    }

    .project-card > div {
        width: 20rem !important;
        height: 12.5rem !important;
    }

    .project-image-larger {
        width: 20rem;
    }

}