@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;600&display=swap');

body { 
  font-family: 'Barlow Semi Condensed', sans-serif;
}

main {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px 5px rgba(65, 63, 61, 0.246);
}

h2 {
  font-size: 1.75rem;
}

@media screen and (min-width: 2000px) {
  main {
    justify-content: center;
  }

}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }
  
}
